ion-img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  
  ion-item p {
    margin: 0;
  }
  
  ion-button {
    margin-top: 1em;
    --border-radius: 4px;
  }
  