.profile-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  ion-avatar {
    width: 120px;
    height: 120px;
  }
  
  ion-card-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  